@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('/fonts/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('/fonts/AvenirNextCyr-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('/fonts/AvenirNextCyr-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
body {
  background-color: #1A1A1A;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: none;
  margin: none;
  cursor: pointer;
}

li, ul {
  list-style: disc;
  list-style-type: disc;
}
hr {
  border: none;
}
input:focus {
  outline: none;
  box-shadow: none;
}